  <header>
      <main class = "toppage">
        <i class ="logo"><img src = "logo.png" width="50px" height="45px"></i>
        <a href="#"><h1 class="site-title">Rocket League Forums</h1></a>
      </main>
      <nav class="navbar">
        <ul class="navlist">
          <li class="navitem navlink active"><a href="/">Home</a></li>
          <li class="navitem navlink"><a href="/charts">Top Posts</a></li>
          <li class="navitem navlink"><a href="/tutorials">Tutorials</a></li>
          <li class="navitem navlink" id="create-post-button"><a href="#">New Post</a></li>
          <li class="navitem navbar-search">
            <input type="text" id="navbar-search-input" placeholder="Search...">
          </li>
        </ul>
      </nav>
    </header>