<article class="post">
  <div class="post-content">
    <p class="upvote">
      <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </p>
    <p class="points">
      {{points}}
    </p>
    <p class="downvote">
      <i class="fa fa-arrow-down" aria-hidden="true"></i>
    </p>
    <p class="text">
      {{text}}
    </p>
    <p class="author">
      <a href="#">{{author}}</a>
    </p>
  </div>
</article>