<article class="post">
  <div class="post-content">
    <p class="upvote">
      <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </p>
    <p class="points">
      -23
    </p>
    <p class="downvote">
      <i class="fa fa-arrow-down" aria-hidden="true"></i>
    </p>
    <p class="text">
      Help, I'm still in silver
    </p>
    <p class="author">
      <a href="#">newusr322</a>
    </p>
  </div>
</article>