<!DOCTYPE html>
<html>
	<head>

    <meta charset="utf-8">
    <title>RLF- Rocket League Forums</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://use.fontawesome.com/1e9a35de4c.js"></script>
    <link rel="stylesheet" href="style1.css" media="screen">

  </head>
  <body>
   {{{body}}}
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.runtime.js"></script>
  <script src="index.js" charset="utf-8"></script>
 </html>