{{! This is a handlebars template implementing the 404 page. }}

{{> header}}

<main class="error-container">
  <h2>404</h2>
  <h1>Sorry!<h1>
  <h1>Sorry!<h1>
  <h1>Sorry!<h1>
  <h1>Chat disabled for 3 seconds.<h3>
  <h3>We couldn't find that page.</h3>
</main>
