{{! This is a handlebars template implementing the 404 page. }}

{{> header}}

<main class="error-container">
  <h2>404</h2>
  <h3>We couldn't find that page.</h3>
  <h4>Sorry!</h4>
  <h4>Sorry!</h4>
  <h4>Sorry!</h4>
  <h4>Chat disabled for 3 seconds.</h4>
</main>
