{{> header}}

<div class="parallax">
</div>
<div class="para-text">
	<h5> What is Rocket League?</h5>
	<p> Winner or Nominee of more than 150 'Best of 2015' Awards, including Game of the Year, Best Sports Game, and Best Multiplayer Game, Rocket League® combines soccer with driving in an unbelievable physics-based multiplayer-focused sequel to Supersonic Acrobatic Rocket-Powered Battle-Cars! Choose from a variety of high-flying vehicles equipped with huge rocket boosters to score amazing aerial goals and pull off incredible, game-changing saves!</p>
</div>
<div class="photo1">
</div>
<div class="para-text">
	<h5>Nintendo Switch Version Confirmed!</h5>
	<p>  Now you can play your favorite game on your new favorite device!</p>
</div>
<div class="photo2">
</div>
<div class="para-text">
	<h5> Check Out Our Forums!</h5>
	<p> We have a new forums section, feel free to ask questions or contribute to conversation</p>
</div>
<div class="photo3">
</div>
<div class="para-text">
	<h5>Triple-A Title Fun</h5>
	<p> Spending $60 or more for the latest video game is a risk these days. Some games simply don't live up to the hype. We set out to build a cheap game without pay-to-win updates. Those who want the latest and greatest items will have to earn them the hard way, not by pulling out their wallets!</p>
</div>
<div class="parallax1">
</div>
	<div class = "link">
	<a href="http://twitch.tv/directory/game/Rocket League"><i class="fa fa-twitch" aria-hidden="true"></i></a>
	<a href="http://web.engr.oregonstate.edu/~siscor/assignment3"><i class="fa fa-twitter" aria-hidden="true"></i></a>
	<a href="http://reddit.com/r/RocketLeague"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a>
	<a href="http://facebook.com/RocketLeague"><i class="fa fa-facebook" aria-hidden="true"></i></a>
	<a href="http://youtube.com/RocketLeagueGame"> <i class="fa fa-youtube" aria-hidden="true"></i></a>
</div>
